body {
    overflow-x: hidden;
}

#voiceflow-chat .vfrc-widget .vfrc-launcher {
    display: none;
}

#voiceflow-chat .vfrc-widget--chat {
    border-radius: 20px;
    width: 500px;
    height: 700px;
    transform: translateX(90%);
    box-shadow: 0 0 10px 0 rgba(132, 94, 194, 0.2);
}

@media only screen and (max-width: 768px) {
    #voiceflow-chat .vfrc-widget--chat {
        width: 450px;
        height: 750px;
        transform: translateX(20%);
    }
}

@media only screen and (max-width: 600px) {
    #voiceflow-chat .vfrc-widget--chat {
        width: 100%;
        height: 100%;
        border-radius: 0;
        transform: translateX(0);
    }
}

.gradient-background {
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    transform: rotate(15deg);
    scale: 1.5;
    background: linear-gradient(135deg,
            #330033,
            #660066,
            #990099,
            #cc00cc,
            #ff00ff,
            #fff,
            #fff,
            #fff,
            #660066,
            #330033,
            #330033,
            #6be3ff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}